<ion-content>
  <ion-card>
    <div class="wrapper">
      <ion-card-header>
        <img src="assets/icons/exit-outline.svg" (click)="App.exitApp()" class="exit_icon" alt="" />

        <ion-card-title color="light">საცდელი</ion-card-title>
        <ion-card-subtitle color="light">სახელი და გვარი</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="button_wrapper">
          <button
            class="start_btn"
            (click)="startBtnClicked()"
            [disabled]="startClicked==false"
            [class.disabled]="!startClicked"
          >
            Start
          </button>

          <div [ngSwitch]="startLocationValid">
            <p *ngSwitchCase="true" style="color: black">
              {{start_success_text}}
            </p>
            <p *ngSwitchCase="false" style="color: black">
              {{start_error_text}}
            </p>
          </div>

          <button
            class="stop_btn"
            (click)="stopBtnClicked()"
            [disabled]="stopClicked==false"
            [class.disabled]="!stopClicked"
          >
            Stop
          </button>
          <div [ngSwitch]="stopLocationValid">
            <p *ngSwitchCase="true" style="color: black">
              {{stop_success_text}}
            </p>
            <p *ngSwitchCase="false" style="color: black">
              {{stop_error_text}}
            </p>
          </div>
        </div>
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>
<footer>
  <div class="footer_wrapper">
    <div class="footer_item">
      <img src="assets/footer_icons/Calendar.svg" alt="" />
      <p class="footer_item_text">გრაფიკი</p>
    </div>
    <div class="footer_item" (click)="choiceCheck()">
      <img src="assets/footer_icons/location-list.svg" alt="" />
      <p class="footer_item_text">დასწრება</p>
    </div>
    <div class="footer_item">
      <img src="assets/footer_icons/User.svg" alt="" />
      <p class="footer_item_text">პროფილი</p>
    </div>
  </div>
</footer>
