@import url("//cdn.web-fonts.ge/fonts/bpg-mrgvlovani/css/bpg-mrgvlovani.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mkhedruli/css/bpg-nino-mkhedruli.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@400;700&display=swap");
ion-card {
  --background: #5e56a5;
  ion-item {
    --background: #5e56a5;
  }
  ion-label {
    font-family: "Noto Sans Georgian", sans-serif;
    font-size: 20px;
    color: white;
  }
  ion-input {
    --color: white;
  }
  ion-icon {
    color: white;
  }
  ion-button {
    --color: white;
    font-size: 1rem;
    margin-top: 8%;
  }
}
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5e56a5;

  .auth {
    margin-top: 5%;
  }
  .title {
    font-family: "BPG Mrgvlovani", sans-serif;
    font-size: 38px;
    color: white;
  }

  .submit {
    padding: 15px 55px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 30px;
    background-color: #5e56a5;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    color: white;
  }
}
