@import url("//cdn.web-fonts.ge/fonts/bpg-mrgvlovani/css/bpg-mrgvlovani.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mkhedruli/css/bpg-nino-mkhedruli.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@400;700&display=swap");
ion-card {
  --background: #5e56a5;
  ion-item {
    --background: #5e56a5;
  }
  ion-button {
    --color: white;
    margin-top: 5%;
  }
}
.wrapper {
  width: 100%;
  height: 100%;
  .subwrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      font-family: "BPG Mrgvlovani", sans-serif;
      font-size: 47px;
      color: white;
    }
    .auth {
    }
    .form_div {
      margin: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .form_title {
      font-family: "Noto Sans Georgian", sans-serif;
      font-weight: 500px;
      font-size: 20px;
      margin-bottom: 10px;
      display: inline-block;
      color: white;
    }
    .form_input {
      width: 100%;
      padding: 10px 0px 15px 10px;
      border-radius: 5px;
      outline: none;
      border: none;
      border: 1px solid black;
    }
    .form_input::placeholder {
      font-family: "BPG Nino Mkhedruli";
      font-size: 20px;
      color: #a9aeba;
      font-weight: 700;
      letter-spacing: 1px;
    }
    .submit {
      padding: 15px 55px;
      border: 2px solid white;
      border-radius: 8px;
      font-size: 30px;
      background-color: #5e56a5;
      display: block;
      margin: 0 auto;
      margin-top: 50px;
      color: white;
    }
  }
}
